body {}
.NarratorBox1 {
 font-family: "Open Sans Semibold", Italic;
}
.NarratorBox2 
 font-family: "Open Sans Semibold", Italic;
}
.NarratorBox3 {
 font-family: "Open Sans Semibold", Italic;
}
.ActualComic {
 font-family: "Open Sans Semibold", Italic;
}
.ActualComic1 {
 font-family: "Open Sans Semibold", Italic;
}
.ActualComic3 {
 font-family: "Open Sans Semibold", Italic;
}
