.NarratorBox1 {
	font-family: "Cedarville Cursive";
}
.ActualComic {
	font-family: "Cedarville Cursive";
}
.NarratorBox2 {
	font-family: "Cedarville Cursive";
}
.ActualComic2 {
	font-family: "Cedarville Cursive";
}
.ActualComic3 {
	font-family: "Cedarville Cursive";
}
.NarratorBox3 {
	font-family: "Cedarville Cursive";
}
